@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600&display=swap");

*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}



h4 {
	font-size: 0.9rem;
	margin-bottom: 5px;
	color: rgba(255, 255, 255, 0.8);
}

body {
	background-color: #000;
	padding: 30px 0;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Urbanist", sans-serif;
	letter-spacing: 0.07em;
}

.container {
	background-color: rgb(0, 0, 0);
	height: 90%;
	min-height: 700px;
	max-height: 750px;
	overflow: hidden;
	width: 90%;
	max-width: 1400px;
	border-radius: 20px;
	display: flex;
	box-shadow: 0 50px 100px rgba(0, 0, 0, 0.5);
	position: relative;
}



/* -- nav bar -- */


/* --navbar end-- */

.right-main {
	padding: 30px 50px;
	position: relative;
}

/* -------------------------main-------------------------- */

main {
	flex: 1;
}

.main-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search > input {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	height: 100%;
	width: 90%;
	font-family: "Urbanist", sans-serif;
	font-weight: 400;
}

.search > input::placeholder {
	font-weight: 600;
}

.search {
	width: 30%;
	min-width: 300px;
	padding: 1em 1.5em;
	background-color: #313237;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 50px;
	color: rgba(255, 255, 255, 0.5);
}



header {
	padding: 70px 30px 30px 30px;
	border-radius: 30px;
	border: 2px solid rgba(218, 194, 194, 0.1);
	background-color: #030303;
	background-image: radial-gradient(
		ellipse at top,
		#051050,
		rgba(209, 6, 6, 0.514)

	);
	position: relative;
	margin-bottom: 30px;
}

.Marvel-Spiderman-img{
	width:400px;
	position: absolute;
	top: -40px;
	right:-20px;
}

.Marvel-Spiderman-img img{
	max-width: 100%;
}





header h1 {
	color: white;
	width: 50%;
	margin-bottom: 20px;
}

.purchase {
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 5px;
	width: 200px;
	justify-content: space-between;
}

.purchase h2 {
	font-size: 0.8rem;
	color: white;
	padding: 0 10px;
}

.purchase button {
	padding: 1em 2em;
	border-radius: 10px;
	border: none;
	outline: none;
	font-family: "Urbanist", sans-serif;
	background-color: rgb(0, 173, 0);
	color: white;
	font-weight: 600;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.purchase button::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #07f107c5;
	filter: blur(10px);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.purchase button:hover::after {
	opacity: 1;
}

.most-played {
	max-width: 100%;
	color: white;
}

.most-played h3 {
	margin-bottom: 20px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.game-image-container {
	height: 150px;
	width: 100%;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 10px;
}

.games-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.2s linear;
}
.games-card img:hover {
	transform: scale(1.05);
}

/* -------------------------------------main end-------------------------------------------- */

.main-flex {
	display: flex;
	margin-top: 30px;
}

/* -----------------------------------------aside---------------------------------------------- */

aside {
	flex: 0.5;
	margin-left: 30px;
}

.library {
	clear: right;
	color: white;
	padding: 30px;
	background-image: linear-gradient(to top, #0a0a0a 50%, #000108 90%);
	border-radius: 30px;
	border: 2px solid #ffffff;
}

.library-card {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.game-logo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.game-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.game-details {
	flex: 0.9;
}

.library-card i {
	cursor: pointer;
	flex: 0.1;
	color: rgba(255, 255, 255, 0.5);
}



.library hr {
	border: none;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 70%;
	margin: 20px auto;
}

.By{
	margin-top: 30px;
	color: white;
}




/* ------------------media query--------------------- */

@media (max-width: 1200px) {
	aside {
		position: absolute;
		inset: 0;
		background-color: #1a1b1fbd;
		z-index: 1000;
		opacity: 0;
		transition: opacity 0.2s linear;
		pointer-events: none;
	}
	.library {
		bottom: 20px;
		position: absolute;
		right: -50%;
		transition: right 0.2s linear;
	}

	aside.active .library {
		right: 20px;
		pointer-events: all;
	}

	aside.active {
		opacity: 1;
	}
	
}

@media (max-width: 1000px) {
	header {
		padding: 30px 20px;
	}
	header h1 {
		width: 70%;
		position: relative;
		z-index: 2;
	}

	.Marvel-Spiderman-img{
		width:300px;
	}
	
}
@media (max-width: 768px) {
	.search {
		min-width: 0;
		width: 50px;
		height: 50px;
		padding-left: 17px;
		overflow: hidden;
		cursor: pointer;
		transition: width 0.2s linear;
	}
  .right-main{
    padding:1rem;
  }
	.search.active {
		width: 50%;
	}
	
	.main-flex {
		height: 100%;
	}
	.cards {
		display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
		overflow: auto;
	}
	.most-played {
		height: 39%;
		overflow: auto;
	}

	.most-played::-webkit-scrollbar {
		display: none;
	}
	.games-card {
		margin-bottom: 20px;
	}
}

@media (max-width: 600px) {
	.main-flex {
		height: 80%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.Marvel-Spiderman-img{
		top: 0;
		right: -50px;
	}
	
	.container {
		width: 90%;
	}

	.right-main {
		padding: 30px 20px;
	}

	

	.main-flex::-webkit-scrollbar {
		display: none;
	}
	.most-played {
		height: max-content;
	}
}